/* font-family: "Ubuntu", sans-serif; 

font-family: "Google Sans", sans-serif;*/

.card {
  width: 15rem;
  height: 22rem;
  position: relative;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  transition: all ease 0.3s;
}
.card:hover {
  scale: 1.05;
}

.card .imgBox {
  position: relative;
  width: 100%;
  height: 54%;
  /* background-color: red; */
  border-radius: 15px;
  overflow: hidden;
}
.card .imgBox::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 #fff;
}
.card .imgBox::after {
  content: "";
  position: absolute;
  bottom: 26.5%;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 #fff;
}

.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .content {
  position: relative;
  width: 100%;
  height: 43%;
  background-color: #232949;
  border-radius: 15px;
  border-top-left-radius: 0;
}

.card .content .price {
  position: absolute;
  top: -40%;
  height: 40%;
  width: 50%;
  background-color: #232949;
  border-top: 10px solid #fff;
  border-right: 10px solid #fff;
  border-top-right-radius: 25px;
}

.card .content .price::before {
  content: "";
  position: absolute;
  width: 24%;
  height: 48%;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: -10px -10px 0 #fff;
}

.card .content .price::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -26px;
  width: 24%;
  height: 48%;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 #232949;
}

.card .price h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
  position: relative;
  display: block;
  background-color: #fff;
  padding: 5px 10px;
  margin: 13px 13px;
  border-radius: 10px;
  text-align: center;
}

.card .info {
  padding: 10px;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "Google Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card .info h1 {
  font-size: 1.3rem;
}
.card .info h3 {
  font-size: 0.9rem;
}
.card .info p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.card .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  /* background-color: red; */
}

.btn button {
  padding: 6px 8px;
  flex-grow: 1;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 600;
  border: 1px solid #fff;
}

.btn button:nth-child(1) {
  background-color: yellow;
}
.btn button:nth-child(2) {
  background-color: rgb(255, 204, 0);
}
