@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

$mobile: 450px;
$tablet: 768px;
$desktop: 1024px;

// The Mixin
@mixin responsive($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

main {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to right bottom,
    #b601bb,
    #012193,
    #5f1194,
    #020003
  );
  padding: 0px 10px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include responsive($tablet) {
    padding: 0px 0px;
  }

  .container {
    width: 100%;
    max-width: 1500px;
    height: 94vh;
    padding: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    @include responsive($tablet) {
      justify-content: flex-end;
      padding: 10px 5px;
    }

    .mainContainer {
      height: 100%;
      flex-grow: 1;
      border-radius: 10px;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        display: none;
      }

      /* For Firefox */
      scrollbar-width: none;

      /* For Internet Explorer and Edge */
      -ms-overflow-style: none;

      @include responsive($mobile) {
        padding-left: 0;
        width: 93%;
      }

      @include responsive($tablet) {
        flex-grow: 0;
        width: 92%;
      }
    }
  }
}
