.heroSection {
  width: 100%;
  height: 100%;
  // background-color: red;
  border-radius: 10px;

  .herobottom {
    width: 100%;
    height: 35%;
    // background-color: green;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #777;
    position: relative;

    h2 {
      font-size: 1.8rem;
      color: #fff;
    }

    .heroCardContainer {
      width: 100%;
      height: 100%;
      // background-color: crimson;
      padding: 0.5rem 0px;
      padding-bottom: 0rem;
      display: flex;
      gap: 1rem;
      overflow-x: scroll;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
      }
    }
  }
}

.scrol-btn {
  width: 3rem;
  height: 3rem;
  position: absolute;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #ffffff46;
  backdrop-filter: blur(10px);
  color: #fff;
  transition: all ease 0.3s;

  i {
    font-size: 2rem;
  }
}
.scrol-btn:disabled {
  color: #ffffff98;
  opacity: 0.7;
}
.scrol-btn:hover {
  scale: 1.08;
}
.scroll-left {
  top: 50%;
  left: 0;
}
.scroll-right {
  top: 50%;
  right: 0;
}

.suggestion {
  width: 100%;
  // background-color: pink;
  color: wheat;
  padding: 0.5rem 0;

  .cardsSections {
    width: 100%;
    padding: 1rem;
    position: relative;
    // background-color: red;

    .cardContianer {
      width: 100%;
      height: 100%;
      padding: 1rem 0;
      display: flex;
      align-items: center;
      gap: 1rem;
      overflow-x: scroll;
      scroll-behavior: smooth;
      // background-color: pink;

      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
      }
    }
  }
}
