.heroSection {
  width: 100%;
  height: 100%;
  // background-color: red;
  border-radius: 10px;

  .herobottom {
    width: 100%;
    height: 35%;
    // background-color: green;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #777;

    h2 {
      font-size: 1.8rem;
      color: #fff;
    }

    .heroCardContainer {
      width: 100%;
      height: 100%;
      // background-color: crimson;
      padding: 0.5rem 0px;
      padding-bottom: 0rem;
      display: flex;
      gap: 1rem;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
      }
    }
  }
}

.other {
  width: 100%;
  height: 100%;
  // background-color: pink;
  color: wheat;
}
