// Breakpoint variable
$mobile: 450px;
$tablet: 768px;
$desktop: 1024px;

// The Mixin
@mixin responsive($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

nav {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  @include responsive($tablet) {
    width: 100%;
  }

  @include responsive($mobile) {
    padding: 0 0.2rem;
    padding-right: 0.5rem;
  }

  .logo {
    i {
      font-size: 2.2rem;
      color: #fff;
    }
  }

  .navInfo {
    display: flex;
    align-items: center;
    gap: 4rem;
    width: 50%;
    // background-color: red;

    @include responsive($tablet) {
      width: 93%;
      gap: 2rem;
    }

    @include responsive($mobile) {
    }

    .searchBox {
      width: 100%;
      height: 100%;
      color: #fff;
      border-radius: 50px;
      background-color: #ffffff57;
      backdrop-filter: blur(10px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      gap: 0.5rem;

      input {
        width: 100%;
        border: none;
        background: transparent;
        outline: none;
        border-right: 1px solid #fff;
        color: #fff;
      }
    }

    .profileInfo {
      display: flex;
      align-items: center;
      gap: 1rem;

      i {
        color: #fff;
        font-size: 1.3rem;
      }

      .profile {
        width: 2.2rem;
        height: 2.2rem;
        background-color: green;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.sideBarContainer {
  height: 100%;
  // width: 15rem;
  background-color: #ffffff4f;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  z-index: 99;

  @include responsive($tablet) {
    position: absolute;
    top: 3.6rem;
    left: 0.5rem;
    padding: 1rem auto;
    height: 90%;
  }

  @include responsive($mobile) {
    height: 93%;
    position: absolute;
    top: 3.6rem;
    left: 0rem;
    padding: 1rem 0.3rem;
  }

  .topBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    height: 2rem;
    // background-color: red;

    h1 {
      font-size: 1.6rem;
      color: #fff;
    }

    i {
      font-size: 1.3rem;
      color: #fff;
      cursor: pointer;
      transition: all ease 0.3s;
    }
    i:hover {
      color: #440c6a;
    }
  }
}

.menuOpen {
  width: 15rem;
  transition: all ease 0.3s;

  @include responsive($tablet) {
    width: 15rem;
  }

  .topBox {
    h1 {
      display: inline-block;
      transition: all ease 0.3s;
    }
  }
}
.menuClose {
  width: 3rem;
  transition: all ease 0.3s;

  @include responsive($mobile) {
    width: 2rem;
  }

  .topBox {
    h1 {
      display: none;
      transition: all ease 0.3s;
    }
  }
}

.sideBar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .navlink {
    border-bottom: 2px solid #999;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;

    .link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      cursor: pointer;
      transition: all ease 0.3s;

      h3 {
        font-size: 0.9rem;
        font-weight: 400;
        text-wrap: nowrap;

        @include responsive($mobile) {
          font-size: 1.1rem;
        }
      }
      i {
        font-size: 1.1rem;
        @include responsive($mobile) {
          font-size: 1.2rem;
        }
      }
    }

    .link:hover {
      color: #440c6a;
    }
  }

  .bottomnav {
    .navlink {
      margin-bottom: 4rem;
      border-bottom: none;
    }
  }
}

// Hero Section
// Slider Componenet

.SliderContainer {
  width: 100%;
  height: 65%;
  border-radius: 10px;
  overflow: hidden;
  // background-color: pink;

  .slider {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .sliderContent {
      width: 50%;
      height: 100%;
      color: #fff;
      background: linear-gradient(to right, #000000c0, transparent);
      position: absolute;
      left: 0;
      top: 0;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include responsive($tablet) {
        width: 70%;
      }

      @include responsive($mobile) {
        width: 90%;
      }

      .tags {
        p {
          display: inline-block;
          background-color: #ffffff4d;
          backdrop-filter: blur(8px);
          padding: 0.4rem 0.8rem;
          margin-bottom: 1rem;
          border-radius: 50px;
          border: 1px solid #888;

          @include responsive($tablet) {
            font-size: 0.8rem;
            padding: 0.3rem 0.7rem;
          }

          @include responsive($mobile) {
          }
        }

        .catg-tags {
          p {
            margin-right: 1rem;
          }
        }
      }

      .title {
        margin-bottom: 2rem;

        h1 {
          font-size: 4rem;

          @include responsive($tablet) {
            font-size: 3rem;
          }

          @include responsive($mobile) {
            font-size: 2.5rem;
          }
        }
      }

      .btn {
        display: flex;
        gap: 1rem;

        button {
          padding: 0.5rem 0.8rem;
          font-size: 1.3rem;
          border-radius: 10px;
          border: none;
          outline: none;
          color: #fff;
          transition: all ease 0.3s;
        }

        button:hover {
          scale: 1.05;
        }

        .btnWatch {
          background: linear-gradient(to right bottom, #b601bb, #012193);
          font-weight: 600;

          i {
            font-size: 1.5rem;
          }
        }

        .btnSave {
          background-color: #ffffff4d;
          backdrop-filter: blur(8px);
        }
      }
    }
  }
}

.horizontalCard {
  width: 20rem;
  height: 90%;
  // background-color: pink;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  transition: all ease 0.3s;

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .info {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: #fff;
    background: linear-gradient(to bottom, transparent, #222);

    h3 {
      font-size: 1.4 rem;
      margin-bottom: 0.6rem;
    }

    .details {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 0.9rem;
        background-color: #ffffff2a;
        backdrop-filter: blur(5px);
        padding: 0.1rem 0.5rem;
        border-radius: 50px;
        border: 1px solid #555;
      }
    }
  }
}

.horizontalCard:hover {
  scale: 1.05;
}

.verticalCard {
  width: 12rem;
  height: 18rem;
  background-color: yellow;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.3s;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5rem;
    padding-top: 1rem;
    color: #fff;
    background: linear-gradient(to bottom, transparent, #000);

    h3 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    .details {
      display: flex;
      align-items: center;
      justify-content: space-between;

      i {
        font-size: 1.3rem;
        cursor: pointer;
      }
    }
  }
}

.verticalCard:hover {
  scale: 1.05;
}
